<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
 <link rel="stylesheet" href="/open.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://boxicons.com/css/boxicons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/cyc4viu.css">
  <link rel="stylesheet" href="https://use.typekit.net/cyc4viu.css">
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
